<h1> Enter a sentence to count a word in! </h1>
<form action='/count' method='get'>

  <div class="form-group">
    <label for="sentence">Your sentence</label>
    <input id="sentence" name="sentence" class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for="word">Your counting word</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>

  <button type="submit" class="btn-success">submit</button>

</form>
